<section class="themePadding offers pt-2" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card px-4 py-5 pb-4 py-md-0 text-center text-md-start">
                    <div class="row gap-0 align-items-center position-relative z-3">
                        <div class="col-12 col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/images/offer_img1.png" class="img-fluid" style="max-height: 268px;">
                        </div>
                        <div class="col-12 col-md-6 col-lg-7">
                            <h2 class="col-12 col-lg-10">Save flat 5% extra on&nbsp;First grocery <br>Order</h2>
                            <button class="btn mx-auto mx-md-0">
                                {{'shop_now' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card px-4 py-5 pb-4 py-md-0 text-center text-md-start">
                    <div class="row gap-0 align-items-center position-relative z-3">
                        <div class="col-12 col-md-6 col-lg-7">
                            <h2 class="col-12 col-lg-10">All Payment <br> modes accepted include COD</h2>
                            <button class="btn mx-auto mx-md-0">
                                {{'shop_now' | translate}}
                            </button>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 text-end d-none d-md-block">
                            <img src="assets/images/offer_img2.png" class="img-fluid" style="max-height: 268px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>