<section class="themePadding py-0 pt-3">
    <div class="container">
        <div class="row gap-0 align-items-center">
            <div class="col-12 col-lg-6  col-xl-8 pb-4 pb-lg-0">
                <div class="col-12 col-lg-12 col-xl-9 col-xxl-8 mx-auto">
                    <h1 class="text-center pt-5 pb-4 pt-lg-0 text-lg-start">
                        {{'download_our_app' | translate}}
                    </h1>
                    <p class="text-center text-lg-start pb-5 col-12 col-lg-10 col-xl-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <div class="row gap-0 align-items-center mx-auto mx-lg-0 w-lg-100" style="width:fit-content;">
                        <div class="col-12 col-md-auto p-0 px-2">
                            <button class="btn mx-auto mb-3">
                                <img src="assets/images/btn_play_store.png" class="img-fluid">
                            </button>
                        </div>
                        <div class="col-12 col-md-auto p-0 px-2">
                            <button class="btn mx-auto mb-3">
                                <img src="assets/images/btn_aap_store.png" class="img-fluid">
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="img_box text-center text-lg-start">
                    <img src="assets/images/app.png" class="img-fluid col-8 col-md-4 col-lg-8">
                </div>
            </div>
        </div>
    </div>
</section>