<div class="body_wrapper">
    <!-- Banner section start -->
    <div class="pageTitle">
        <div class="container text-center">
            <div class="row g-0 align-items-center text-md-start">
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <img src="assets/images/category/ic_fastfood.png">
                </div>
                <div class="col-12 col-md-6 col-lg-9 col-xl-10">
                    <h2>Fast Food</h2>
                    <form class="col-12 px-0" role="search">
                        <div class="form-group search_box mb-0">
                            <div class="form-group-inner d-flex align-items-center mb-0">
                                <i class="zmdi zmdi-search"></i>
                                <input type="search" class="form-control" placeholder="{{'search_for_dishes' | translate}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Item section section start -->
    <section class="vendorList themePadding">
        <div class="sectionHeader">
            <div class="container">
                <h2 class="text-center text-lg-start">12 {{'restaurant_found' | translate}}</h2>
            </div>
        </div>

        <div class="sectionContent">
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/6.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Food Junction</h2>
                                <h3>Fast Food, Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.2</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.4 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/7.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Hunger Spot</h2>
                                <h3>Fast Food, Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.3</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 1.8 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/8.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Food by Jesica</h2>
                                <h3>Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.3</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 1.2 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/9.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Fishchef</h2>
                                <h3>See Food</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.5</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 5.6 km | Fish Street
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/10.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Seven Start Restro</h2>
                                <h3>Fast Food, Italian</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.5</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.8 km | City Road
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/11.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Oprum Food Plaza</h2>
                                <h3>Fast Food, Italian</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>3.1</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.8 km | City Road
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/6.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Food Junction</h2>
                                <h3>Fast Food, Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.2</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.4 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/7.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Hunger Spot</h2>
                                <h3>Fast Food, Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.3</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 1.8 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/8.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Food by Jesica</h2>
                                <h3>Italian, Chinese</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.3</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 1.2 km | City Food Park
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/9.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Fishchef</h2>
                                <h3>See Food</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.5</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 5.6 km | Fish Street
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/10.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Seven Start Restro</h2>
                                <h3>Fast Food, Italian</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>4.5</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.8 km | City Road
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/11.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Oprum Food Plaza</h2>
                                <h3>Fast Food, Italian</h3>
                                <h4 class="d-flex align-items-center"><i class="zmdi zmdi-star"></i>3.1</h4>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> 2.8 km | City Road
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Item section section end -->



    <!-- Download app section start -->
    <app-download-our-app> </app-download-our-app>
    <!-- Download app section end -->

    <!--Footer start -->
    <app-footer></app-footer>
    <!--Footer end -->
</div>