<footer class="themePadding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0">
                <div class="logo pb-4 animate__animated animate__fadeInUp wow">
                    <a class="navbar-brand nav-link px-0 m-0 " (click)="home()">
                        <img src="assets/images/logo.png" class="img-fluid d-block pt-2">
                    </a>
                </div>
                <p class="p-0 col-12 col-xl-11 animate__animated animate__fadeInUp wow">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'quick_links' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'privacy_policy' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'terms_and_conditions' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'editorial_policy' | translate}}</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'return_policy' | translate}}</a></h3>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'services' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow"><a>Lorem ipsum dolor</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>Lorem ipsum dolor</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>Lorem ipsum dolor</a></h3>
            </div>

            <div class="col-12 col-md-6 col-xl-3 pb-3 pb-lg-0">
                <h2 class="pb-4 animate__animated animate__fadeInUp wow">{{'contact' | translate}}</h2>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'call_us' | translate}} : 987 654 3210</a></h3>
                <h3 class="animate__animated animate__fadeInUp wow"><a>{{'mail_us' | translate}} : ouremailaddress@mail.com</a></h3>
                <div class="socialLinks d-flex animate__animated animate__fadeInUp wow">
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_facebook.png"></a>
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_instagram.png"></a>
                    <a class="animate__animated animate__zoomIn wow "><img src="assets/images/icons/ic_twitter.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>