<div class="offcanvas-header ">
    <div class="d-flex align-items-center" style="min-height: 80px;">
        <h2>{{'reviews' | translate}} </h2>
        <h3 class="end" type="button" data-bs-dismiss="offcanvas" aria-label="Close">{{'close' | translate}}</h3>
    </div>

    <div class="vendorList">
        <div class="media" data-bs-dismiss="offcanvas" aria-label="Close">
            <div class="img_box center_img">
                <img src="assets/images/vendor/6.png" class="crop_img">
            </div>
            <div class="media-body">
                <h2 class="d-flex">Food Junction
                    <span class="end">
                        <i class="zmdi zmdi-star"></i> 4.2
                    </span>
                </h2>
                <h5 class="d-flex align-items-center">
                    <i class="zmdi zmdi-pin"></i> 2.4 km | City Food Park
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-body">
    <ul class="list-group">
        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>George Timber</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Emili Johnson</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">23 Feb, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Jackson Demmy</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Opera Taylor</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>
        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>George Timber</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Emili Johnson</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">23 Feb, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Jackson Demmy</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Opera Taylor</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>
        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>George Timber</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Emili Johnson</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">23 Feb, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Jackson Demmy</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 4.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>

        <li class="list-group-item animate__animated animate__fadeInUp wow">
            <h2>Opera Taylor</h2>
            <h3 class="d-flex">
                <i class="zmdi zmdi-star"></i> 5.0
                <span class="end">5 April, 20</span>
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </li>
    </ul>
</div>