<div class="body_wrapper">
    <!-- Banner section start -->
    <div class="pageTitle">
        <div class="container position-relative">
            <h1 class="text-center py-4 text-md-start">
                {{'my_offers' | translate}}
            </h1>
        </div>
    </div>

    <section class="themePadding pt-2">
        <div class="container">
            <ul class="list-group px-0 border-0 py-2">
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Flat 50% Off on first household items</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>Get 50</h3>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Free Delivery on First 3 Orders</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>VEG3</h3>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Get 500gm of Sugar on Purchase of $100 & Adove</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>Sug500</h3>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Flat 50% Off on first household items</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>Get 50</h3>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Free Delivery on First 3 Orders</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>VEG3</h3>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center animate__animated animate__fadeInUp wow">
                    <h2 class="col-md-8 col-lg-10">Get 500gm of Sugar on Purchase of $100 & Adove</h2>
                    <div class="offer_code col-md-4 col-lg-2 end">
                        <h3>Sug500</h3>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <!-- Download app section start -->
    <app-download-our-app> </app-download-our-app>
    <!-- Download app section end -->

    <!--Footer start -->
    <app-footer></app-footer>
    <!--Footer end -->
</div>