<div class="body_wrapper">
    <!-- Banner section start -->
    <div class="pageTitle">
        <div class="container position-relative">
            <h1 class="text-center py-3 text-md-start">
                {{'my_orders' | translate}}
            </h1>
        </div>
    </div>

    <section class="themePadding  pt-2">
        <div class="container order_info_container">
            <div class="container_inner">
                <div class="row g-0">
                    <!-- Order list section start -->
                    <div class="col col-md col-xl">
                        <div class="order_list">
                            <div class="vendorList">
                                <div class="media active">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/6.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Food Junction <span class="end">{{'cancel' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>20 Jun, 11:30 am</strong>

                                            <span class="end">2 Persons</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/7.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Hunger Spot <span class="end">{{'cancel' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>19 Jun, 10:00 am</strong>

                                            <span class="end">3 Persons</span>
                                        </h5>
                                    </div>
                                </div>

                                <h3>{{'past_bookings' | translate}}</h3>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/6.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Food Junction <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>13 Jun, 11:30 am</strong>
                                            <span class="end">1 Person</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/7.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Hunger Spot <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>8 Jun, 11:30 am</strong>
                                            <span class="end">2 Persons</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/6.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Food Junction <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>3 Jun, 08:30 am</strong>
                                            <span class="end">4 Persons</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/7.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Hunger Spot <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>29 May, 10:45 am</strong>
                                            <span class="end">2 Persons</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/6.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Food Junction <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>15 May, 08:52 am</strong>
                                            <span class="end">1 Person</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/7.png" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">Hunger Spot <span class="end">{{'re_booking' | translate}}</span>
                                        </h2>
                                        <h5 class="d-flex align-items-center">
                                            {{'ordered_on' | translate}} &nbsp;<strong>6 May, 11:40 am</strong>
                                            <span class="end">2 Persons</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Order list section end -->

                    <!-- Order info section start -->
                    <div class="col col-md col-xl">
                        <div class="order_info">
                            <div class="vendorList">
                                <div class="media">
                                    <div class="img_box center_img">
                                        <img src="assets/images/img_deliveryman.jpg" class="crop_img">
                                    </div>
                                    <div class="media-body">
                                        <h2 class="d-flex">
                                            George Anderson
                                        </h2>
                                        <h5>
                                            {{'delivery_partner' | translate}}
                                        </h5>
                                    </div>

                                    <div class="icon_box end">
                                        <i class="zmdi zmdi-comment-alt-text text-start"></i>
                                        <i class="zmdi zmdi-phone text-end"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="card border-0 col-12 mx-auto">
                                <ul class="list-group" style="min-height: 465px;">
                                    <li class="list-group-item align-items-start  animate__animated animate__fadeInUp wow">
                                        <img src="assets/images/icons/food_veg.png">
                                        <div class="text_box">
                                            <div class="row g-0 align-items-center">
                                                <h2 class="col-6">Veg Sandwich</h2>
                                                <h4 class="col-3 text-center">
                                                    <strong>1</strong>
                                                </h4>
                                                <h6 class="col-3 text-end end">$5.00</h6>
                                            </div>
                                            <h3 class="d-flex align-items-center">
                                                Extra Cheese
                                                <span class="end">$3.00</span>
                                            </h3>
                                        </div>
                                    </li>

                                    <li class="list-group-item align-items-start  animate__animated animate__fadeInUp wow">
                                        <img src="assets/images/icons/food_nonveg.png">
                                        <div class="text_box">
                                            <div class="row g-0 align-items-center">
                                                <h2 class="col-6">Fride Chiken</h2>
                                                <h4 class="col-3 text-center">
                                                    <strong>1</strong>
                                                </h4>
                                                <h6 class="col-3 text-end end">$7.00</h6>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item align-items-start  animate__animated animate__fadeInUp wow">
                                        <img src="assets/images/icons/food_veg.png">
                                        <div class="text_box">
                                            <div class="row g-0 align-items-center">
                                                <h2 class="col-6">Watermelon Juice</h2>
                                                <h4 class="col-3 text-center">
                                                    <strong>1</strong>
                                                </h4>
                                                <h6 class="col-3 text-end end">$4.50</h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="card border-0 payment_info col-12 mx-auto">
                                <h5>{{'payment_info' | translate}}</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="text_box">
                                            <h3 class="d-flex">{{'sub_total' | translate}}
                                                <span class="end">$19.00</span>
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="text_box">
                                            <h3 class="d-flex">{{'service_fee' | translate}}
                                                <span class="end">$1.50</span>
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="text_box">
                                            <h2 class="d-flex">Cach On Delivery
                                                <span class="end">$21.00</span>
                                            </h2>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Order info section end -->

                    <!-- track order section start -->
                    <div class="col-3 col-md-3 col-xl-3">
                        <div class="track_order">
                            <div class="map center_img">
                                <img src="assets/images/map.png" class="img-fluid crop_img">

                                <i class="zmdi zmdi-pin" style="top: 28%; left: 19%;"></i>
                                <i class="zmdi zmdi-navigation" style="top: 43%; left: 77%;"></i>

                                <div class="deliveryBoy" style="top: 15%; left: 19%;">
                                    <img src="assets/images/icons/ic_bike.png" style="transform: rotate(180deg);">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- track order section start -->
                </div>
            </div>

        </div>
    </section>


    <!-- Download app section start -->
    <app-download-our-app> </app-download-our-app>
    <!-- Download app section end -->

    <!--Footer start -->
    <app-footer></app-footer>
    <!--Footer end -->
</div>