<div class="body_wrapper">
    <div class="container">
        <div class="offer">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 col-lg-3">
                    <img src="assets/images/logo2.png" class="img-fluid col-10 col-md-12 col-lg-6">
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h2>Save Flat 5% extra on food ordering & get Free Delivery on first order</h2>
                </div>
            </div>
        </div>
    </div>
</div>