<div class="offcanvas-header ">
    <div class="d-flex align-items-center" style="min-height: 80px;">
        <h2>{{'book_a_table' | translate}} </h2>
        <h3 class="end" type="button" data-bs-dismiss="offcanvas" aria-label="Close">{{'close' | translate}}</h3>
    </div>

    <div class="vendorList">
        <div class="media" data-bs-dismiss="offcanvas" aria-label="Close">
            <div class="img_box center_img">
                <img src="assets/images/vendor/6.png" class="crop_img">
            </div>
            <div class="media-body">
                <h2 class="d-flex">Food Junction
                    <span class="end">
                        <i class="zmdi zmdi-star"></i> 4.2
                    </span>
                </h2>
                <h5 class="d-flex align-items-center">
                    <i class="zmdi zmdi-pin"></i> 2.4 km | City Food Park
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas-body">
    <form>
        <div class="card border-0">
            <h2>{{'booking_for' | translate}}</h2>
            <div class="from_inner">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="1" value="1" name="booking_for">
                        <label class="form-check-label" for="1">1 Person</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="2" value="2" name="booking_for">
                        <label class="form-check-label" for="2">2 Persons</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" checked type="radio" id="3" value="3" name="booking_for">
                        <label class="form-check-label" for="3">3 Persons</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="4" value="4" name="booking_for">
                        <label class="form-check-label" for="4">4 Persons</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="5" value="5" name="booking_for">
                        <label class="form-check-label" for="5">5 Persons</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="6" value="6" name="booking_for">
                        <label class="form-check-label" for="6">6 Persons</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0">
            <h2>{{'select_date' | translate}}</h2>
            <div class="from_inner">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="1" value="1" name="select_date">
                        <label class="form-check-label" for="1">20 Jun</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" checked type="radio" id="2" value="2" name="select_date">
                        <label class="form-check-label" for="2">21 Jun</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="3" value="3" name="select_date">
                        <label class="form-check-label" for="3">22 Jun</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="4" value="4" name="select_date">
                        <label class="form-check-label" for="4">24 Jun</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="5" value="5" name="select_date">
                        <label class="form-check-label" for="5">25 Jun</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="6" value="6" name="select_date">
                        <label class="form-check-label" for="6">26 Jun</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="7" value="7" name="select_date">
                        <label class="form-check-label" for="6">27 Jun</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0">
            <h2>{{'select_time' | translate}}</h2>
            <div class="from_inner">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="1" value="1" name="select_time">
                        <label class="form-check-label" for="1">09:00 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="2" value="2" name="select_time">
                        <label class="form-check-label" for="2">09:30 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" checked type="radio" id="3" value="3" name="select_time">
                        <label class="form-check-label" for="3">10:00 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="4" value="4" name="select_time">
                        <label class="form-check-label" for="4">10:30 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="5" value="5" name="select_time">
                        <label class="form-check-label" for="5">11:00 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="6" value="6" name="select_time">
                        <label class="form-check-label" for="6">11:30 am</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="7" value="7" name="select_time">
                        <label class="form-check-label" for="7">12:00 pm</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="8" value="8" name="select_time">
                        <label class="form-check-label" for="8">12:30 pm</label>
                    </div>
                </div>
            </div>
        </div>

        <h2>{{'add_note' | translate}}</h2>
        <div class="from_inner mx-auto" style="width: calc(100% - 40px);">
            <div class="form-group ">
                <div class="form-group-inner d-flex align-items-center">
                    <textarea rows="3" type="text" class="form-control" placeholder="i.g {{'for_my_anniversary' | translate}}" style="line-height: 22px !important; padding-top: 10px !important; padding-bottom: 10px !important;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="offcanvas-footer">
    <button class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
        {{'book_table' | translate}}  
    </button>
</div>