<div class="body_wrapper position-relative pt-2">
    <section class="themePadding pt-4">
        <div class="pageTitle">
            <div class="container position-relative">
                <h1 class="text-center py-lg-3 text-md-start">
                    &nbsp;
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="card pt-3 border-0 col-12 mx-auto">
                        <form class="col-12 col-md-11 mx-auto px-3">
                            <div class="row g-0 align-items-end">
                                <div class="col-12 col-md-8">

                                    <div class="row g-0 align-items-center pb-3 pb-lg-3" style="min-height: 91px;">
                                        <div class="col-12 col-md-12 pb-4 pb-md-0 pt-3">
                                            <h2 class="m-0 pb-2 animate__animated animate__fadeInUp wow">
                                                {{'language' | translate}}
                                            </h2>
                                            <p class="animate__animated animate__fadeInUp wow">
                                                {{'select_preferred_language' | translate}}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="from_inner">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-4 animate__animated animate__fadeInUp" *ngFor="let language of languages">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" [id]="language.code" [value]="language.code" [(ngModel)]="defaultLanguageCode" name="choosen_language">
                                                        <!-- <input class="form-check-input" type="radio" [id]="language.code" [value]="language.code" name="choosen_language"> -->
                                                        <label class="form-check-label" [for]="language.code">{{language.name}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="d-flex animate__animated animate__fadeInUp wow">
                                        <button class="btn rounded-pill end" (click)="languageConfirm()">
                                            {{'save' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download app section start -->
    <app-download-our-app> </app-download-our-app>
    <!-- Download app section end -->

    <!--Footer start -->
    <app-footer></app-footer>
    <!--Footer end -->
</div>